<h1>*** Lake Pend Orielle Readings at Deep Moor Station ***</h1>
<p>
Computes the mean and median of the wind speed, air temperature,
and barometric pressure recorded at the Deep Moor station on Lake
Pend Orielle for a given range of dates.
</p>
<br/>
<div id='reading-form'>
  <%# need to specify url because it's a singular resource and %>
  <%# actionview doesn't deal with those automatically %>
  <%= form_for @reading, url: reading_path do |f| %>
  <div class='field'>
    <%= f.label 'Start Date' %>
    <%= f.text_field :start_date, placeholder: 'YYYY-MM-DD' %>
  </div>
  <div class='field'>
    <%= f.label 'End Date' %>
    <%= f.text_field :end_date, placeholder: 'YYYY-MM-DD' %>
  </div>
    <%= f.submit 'Submit' %>
  <% end %>
</div>